/* when the screen is smaller than 600px, the font size will go smaller */
@media only screen and (max-width: 600px) {
  .game {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  width: 100%;
  font-size: 16px;
}
