/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 56px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #061b79;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #e50eaf;
  box-shadow: 0px 0px 40px #061b79;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 36px;
  width: 36px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
  right: 1em;
  top: 1em;
  font-size: 36px;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/

/* General sidebar styles */
.bm-menu {
  background: #061b79;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #e50eaf;
}

/* Wrapper for item list, i.e. h2 color */
.bm-item-list {
  color: #e50eaf;
  padding: 0.8em;
}
.Menu #label {
  margin: 0 auto;
  padding: 2em 1em;
  color: white;
  font-size: 1.6em;
  font-weight: 700;
  text-decoration: none;
}
.Menu #label:hover {
  background-color: yellow;
  box-shadow: 0 0 20px black;
  color: #333;
  transform: scale(1.1) rotate(5deg);
}
@font-face {
  font-family: "Pretendo";
  src: url("./Pretendo.ttf");
}

/* Individual item */
.bm-item {
  display: block;
  padding: 1em;
  text-transform: uppercase;
  color: white;
  transition: all 0.3s ease-out;
  transform-origin: center left;
  font-family: Pretendo;
  font-weight: 100;
}

.bm-item:hover {
  background-color: yellow;
  color: #333;
  transform: scale(1.1) rotate(5deg);
  box-shadow: 0 20px 20px black;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
